<ion-view title="{{ vm.title }}">
    <ion-content class="leaderboard--wrapper padding">
        <h1>{{ vm.title }}</h1>
        <div ng-repeat="score in vm.scores">
            <p>{{ score.name }} - {{ score.score }}</p>
        </div>
    </ion-content>
    <div class="tabs tabs-icon-top" ng-controller="GeneralCtrl as general">
        <a class="tab-item" ng-repeat="item in general.menu" href="#{{ item.href }}">
            <i class="icon {{ item.icon }}"></i>
            {{ item.label }}
        </a>
    </div>
</ion-view>
