// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.nav {
  font-family: "Helvetica Neue", "sans-serif";
  font-weight:500;
  text-transform: uppercase;
  font-size:14px;
  background-color:$brand-color;
  height:60px;
}

.nav a {
  color:$text-color;
  text-decoration: none;
}

.nav-left {
  float:left;
  padding:10px;
}

.nav-right {
  float:right;
}

.nav-right li {
  display: inline-block;
  padding:10px;
}
.clear {
  clear:both;
}