<nav class="nav">

    <ul class="nav-right">
      <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
    </ul>
</nav>
<div class="clear"></div>